<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        @if (showFiller) {
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
        }
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>




    <div class="example-sidenav-content">
        <mat-toolbar>
            <button class="buttonDrawer" type="button" mat-button (click)="drawer.toggle()">
                <mat-icon class="iconMenu" aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
            </button>
            <span>Menú</span>
        </mat-toolbar>
        
        <app-users></app-users>
    </div>

   


</mat-drawer-container>