.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {

    height: 100%;
    align-items:baseline;
    justify-content:center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .iconMenu{
    padding-left: 30%;
  }

  .list-group-item{
    list-style-type: none;
  }

  